{
	"semi": true,
	"singleQuote": false,
	"trailingComma": "none",
	"useTabs": true,
	"jsxBracketSameLine": false,
	"printWidth": 80,
	"tabWidth": 1,
	"endOfLine": "lf",
	"overrides": [
		{
			"files": [
				"**/*.scss"
			],
			"options": {
				"useTabs": false,
				"singleQuote": true
			}
		}
	]
}